---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/BaseLayout.astro";
import { Skills } from "@data/skills";

const title = "I'm manuel.djs | About Me";
const description =
  "Use this page to find information about my professional experience. Also, you can find a summary of my tech-related skills.";
---

<Layout title={title} description={description}>
  <section class="aboutIntro mb-8">
    <div class="mb-4 px-4 pt-10 italic">
      <h1 class="text-primary group transition-colors">
        About Me <Icon name="mdi:hand-wave" size={32} class="text-primary/50 group-hover:text-primary inline" />
      </h1>
    </div>
    <div class="text-content px-4">
      <ul class="transition-colors">
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />I'm a
          full-stack developer who has worked with React, Astro.js, PHP and provided technical support for PHP-based
          websites.
        </li>
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />Currently
          exploring Astro.js and React as a way to increase the amount of tools I work with. This allows me to deal with
          web application that requires lots of interaction and content-driven websites.
        </li>
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />Eager to
          learn more about different tools and what makes them special to solve specific problems. Also, learn more
          about software architecture, design patterns, and best practices.
        </li>
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />Working on
          personal projects, and freelancing, to sharpen my web development skills.
        </li>
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />Open to
          collaborating on open-source or web-focused projects.
        </li>
        <li class="group">
          <Icon name="mdi:coffee" size={15} class="text-primary/50 group-hover:text-primary mr-2 inline" />Ask me about
          technical support, and web hosting, and how I apply that background to dev work.
        </li>
      </ul>
    </div>
  </section>

  <section class="skills mb-8">
    <div class="mb-4 px-4 pt-10 italic">
      <h2 class="text-primary">Skills</h2>
    </div>
    <div class="text-content px-4">
      <ul class="">
        {
          Skills.map((skill) => {
            return (
              <li class="group">
                <span class="text-primary/50 group-hover:text-primary mr-1">
                  <Icon name={skill.iconName} size={15} class="mr-2 inline" />
                  {skill.title}:
                </span>
                {skill.description}
              </li>
            );
          })
        }
      </ul>
    </div>

    <style>
      li {
        padding-bottom: 0.3rem;
      }
    </style>
  </section>
</Layout>
