---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
import { Nav } from "@data/navigation";
import { SocialLinks } from "@data/social-links";
import { Site } from "@data/site";
---

<header class="sticky top-0 z-50 border-b shadow-md backdrop-blur-lg">
  <nav class="">
    <h2 class="text-primary ff-jetbrains-mono"><a href="/">{Site.title}</a></h2>
    <div class="internal-links text-content">
      {Nav.map((nav) => <HeaderLink href={nav.href}>{nav.label}</HeaderLink>)}
    </div>
    <div class="social-links text-accent">
      {
        SocialLinks.map((socialLink) => {
          return (
            <a href={socialLink.href} target="_blank">
              <span class="sr-only">{socialLink.srMessage}</span>
              <Icon name={socialLink.iconName} size={32} />
            </a>
          );
        })
      }
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
  }
  .social-links,
  .social-links a {
    display: flex;
    padding: 0.5rem 0.1em;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
