---
import { Icon } from "astro-icon/components";
import FormattedDate from "@components/FormattedDate.astro";

type Data = {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
};

type Post = {
  id: string;
  data: Data;
};

interface Props {
  post: Post;
  variant?: "minimal" | "moderate" | "complete";
  cardDesign?: "default" | "primary" | "secondary";
}

const { post, variant = "complete", cardDesign = "default" } = Astro.props;

const variantConfig = {
  minimal: { showDescription: false, showImage: false },
  moderate: { showDescription: true, showImage: false },
  complete: { showDescription: true, showImage: true },
};

const cardDesignConfig = {
  default: "border-divider rounded-lg border-1",
  primary:
    "bg-surface-elevated hover:bg-surface-hover border-divider rounded-lg border-1 border-solid shadow-lg",
  secondary:
    "hover:rounded-xl hover:shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:ring-1 hover:ring-border hover:ring-accent transition-all duration-300",
};

const { showDescription, showImage } = variantConfig[variant];
const cardContainerDesign = cardDesignConfig[cardDesign];
---

<article class=`group my-1 w-full p-5 md:my-4 ${cardContainerDesign}`>
  <!-- {
  {post.data.heroImage && (
        <Image width={720} height={360} src={post.data.heroImage} alt="" />
  )}
} -->
  <h4 class="text-primary group-hover:text-accent mb-3 font-semibold">
    <a href={`/blog/${post.id}`}>{post.data.title}</a>
  </h4>
  <!-- Description  -->
  <div>
    {
      showDescription && (
        <p class="text-foreground my-4 pl-0.5 text-base/7">
          {post.data.description}
        </p>
      )
    }
  </div>
  <!-- Date and Read link -->
  <div>
    <p class="">
      <FormattedDate date={post.data.pubDate} />
    </p>
    <a
      class="group-hover:text-accent flex items-center"
      href={`/blog/${post.id}`}
    >
      Read
      <Icon name="mdi:chevron-double-right" class="ml-2" size={20} />
    </a>
  </div>
</article>
